#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION 14,30,30704,0
PRODUCTVERSION 14,30,30704,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Microsoft Corporation"
            VALUE "FileDescription", "Microsoft Visual C++ Runtime Library"
            VALUE "FileVersion", "14.30.30704.0"
            VALUE "InternalName", "msvcrt.dll"
            VALUE "OriginalFilename", "msvcrt.dll"
            VALUE "ProductName", "Microsoft Visual C++ Runtime Library"
            VALUE "ProductVersion", "14.30.30704.0"
            VALUE "LegalCopyright", "(C) Microsoft Corporation. All rights reserved."
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

1 RT_MANIFEST "app.manifest"
